@charset "utf-8";


/* 

Override Screen Styles for the 7digital Bootstrapper
(c) 7digital 2012.
    
If you want to override any of the styles in the 7digital Bootstrapper, or add new styles, this is the only acceptable place to do so, though it's not advisable because you're defeating the purpose of the 7digital bootstrapper, you'll void the warranty of the 7digital Bootstrapper, and most likely you'll make the UI designer/developer angry, and you won't like him when he's angry. 

*/
