<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Track Search n Buy Demo</title>
        <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico" />
        <link href="./css/core.css" rel="stylesheet"/>
        <link href="./css/demo.css" rel="stylesheet"/>
        <link href="http://instant.7digital.com/Static/css/sd-default.css" rel="stylesheet"/>
    </head>
    <body id="c">
        <div id="artist" style="display:block; float:none; margin-bottom:10px"></div>
        <div id="sidebar" style="float:none;"></div>
        <script id="tpl-artist" type="text/html">
            <img src="<%= image %>" alt="<%= name %>" style="display:block"/>
            <h3>also by <%= name %></h3>
        </script>
        <script id="tpl-artist-release-item" type="text/html">       
            <div class="info-fadein">
                <img src="<%= image %>" alt="<%= title %>" class="packshot" />
                <h6 class="details">
                    <em><%= title %></em>
                    <br />
                    <a href="artistreleases.htm?artistId=<%=artist.id%>"><%= artist.appearsAs %></a>
                </h6>
                <button class="sd-buybutton" data-releaseid="<%= id %>" data-partner="712">Buy <%=type%> <%= price.formattedPrice %></button><br/>
                <a href="morelikethis.htm?releaseId=<%=id%>&releaseTitle=<%=artist.appearsAs%>%20<%=title%>">more like this</a>
            </div>
        </script>
    </body>
</html>
<script type="text/javascript" src="http://instant.7digital.com/scripts/dist/7d-buyitnow.min.js"></script>
<script type="text/javascript" src="./scripts/demo/blocky.js"></script>
<script type="text/javascript" src="./scripts/demo/artistreleases.js"></script>
<script type="text/javascript" src="./scripts/demo/analytics.js"></script>