<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Track Search n Buy Demo</title>
    <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico" />
    <link href="./css/core.css" rel="stylesheet"/>
    <link href="./css/demo.css" rel="stylesheet"/>
    <link href="http://instant.7digital.com/Static/css/sd-default.css" rel="stylesheet"/>
</head>
    <body id="c">
        <div id="sidebar"></div>
        <script id="tpl-track-chart-list-item" type="text/html">        
            <%= change %> - <%= position %>
            <div style="background: url('<%= track.release.image %>') no-repeat" class="rows">
                <div class="track">
                    <strong><%= track.title %></strong> <small>from</small> <em><%= track.release.title %></em><br /><small>by</small> <%= track.artist.appearsAs %>
                    <span class="large price" style="display: block; font-size: larger; padding-top: 2px"><%= track.price.formattedPrice %></span>
                </div>
                
                <button class="sd-buybutton" data-trackid="<%= track.id %>" data-partner="712" style="float:left">Buy Track</button>
                <% if (track.release.type !== "Single") { %>
                <button class="sd-buybutton" data-releaseid="<%= track.release.id %>" data-partner="712" style="float:left">Buy album</button>
                <% } %>
            </div>
        </script>
        <script id="tpl-release-chart-list-item" type="text/html">        
            <%= change %> - <%= position%>
            <div style="background: url('<%= release.image %>') no-repeat" class="rows">
                <div class="track">
                    <strong><%= release.title %></strong> <small>from</small> <em><%= release.title %></em><br /><small>by</small> <%= release.artist.appearsAs %>
                    <span class="large price" style="display: block; font-size: larger; padding-top: 2px"><%= release.price.formattedPrice %></span>
                </div>
                <button class="sd-buybutton" data-releaseid="<%= release.id %>" data-partner="712" style="float:left">Buy album</button>
            </div>
        </script>
    </body>
</html>
<script type="text/javascript" src="http://instant.7digital.com/scripts/dist/7d-buyitnow.min.js"></script>
<script type="text/javascript" src="./scripts/demo/chart.js"></script>
<script type="text/javascript" src="./scripts/demo/analytics.js"></script>