<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Track Search n Buy Demo</title>
        <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico" />
        <link href="http://instant.7digital.com/Static/css/core.css" rel="stylesheet"/>
        <link href="./css/demo.css" rel="stylesheet"/>
        <link href="http://instant.7digital.com/Static/css/sd-default.css" rel="stylesheet"/>
    </head>
    <body id="c">
        Search: <input type="text" value="" id="searchquery"/>
        <div id="sidebar"></div>
        <script id="tpl-release-search-item" type="text/html">
            <div class="info-fadein">
                <img src="<%= release.image %>" alt="<%= release.title %>" class="packshot" />
                <h6 class="details">
                    <em class="release-title"><%= release.title %></em>
                    <br />
                    <a href="artistreleases.htm?artistId=<%=release.artist.id%>"><%= release.artist.appearsAs %></a>
                    <span id="tracklist"></span>
                </h6>
                <button class="sd-buybutton" data-releaseid="<%= release.id %>" data-partner="712">Buy <%=release.type%> <%= release.price.formattedPrice %></button><br />
                <a href="morelikethis.htm?releaseId=<%=release.id%>&releaseTitle=<%=release.artist.appearsAs%>%20<%=release.title%>">more like this</a>
				
				<div class="button-html">&lt;button class="sd-buybutton" data-releaseid="<%= release.id %>" data-partner="712"&gt;Buy <%=release.type%> <%= release.price.formattedPrice %>&lt;/button&gt;</div>
            </div>
        </script>
    </body>
</html>
<script type="text/javascript" src="http://instant.7digital.com/scripts/dist/7d-buyitnow.min.js"></script>
<script type="text/javascript" src="./scripts/demo/blocky.js"></script>
<script type="text/javascript" src="./scripts/demo/search.js"></script>
<script type="text/javascript">
    
    var settings = {
        apiUrl: "http://api.7digital.com/1.2/release/search?oauth_consumer_key=YOUR_KEY_HERE&type=album&pagesize=50&imagesize=175&q=",
        displayElement: $("#sidebar"),
        templateElement: $("#tpl-release-search-item"),
        searchTextFieldElement: $("#searchquery"),
        defaultQuery: "in rainbows",
        searchResultItem: function (searchResult) {
            return searchResult;
        }
    };

    var searchDemo = new Search(settings).Setup().RunSearch("", 1);

    $(window).scroll(function () {
        if ($(window).scrollTop() + $(window).height() == $(document).height()) {
            searchDemo.LoadNext();
        }
    });
</script>
<script type="text/javascript" src="./scripts/demo/analytics.js"></script>
