<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Track Search n Buy Demo</title>
        <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico" />
        <link href="http://instant.7digital.com/Static/css/core.css" rel="stylesheet"/>
        <link href="./css/demo.css" rel="stylesheet"/>
        <link href="http://instant.7digital.com/Static/css/sd-default.css" rel="stylesheet"/>
    </head>
    <body id="c">
        Search: <input type="text" value="" id="searchquery"/>
        <div id="sidebar"></div>
        <script id="tpl-track-list-item" type="text/html">       
            <div class="info-fadein">
                <img src="<%= release.image %>" alt="<%= title %>" class="packshot" />
                <h6 class="details">
                    <em><%= title %></em>
                    <br /><%= release.title %>
                    <br /><a href="artistreleases.htm?artistId=<%=artist.id%>"><%= artist.appearsAs %></a>
                </h6>                
                <button class="sd-buybutton" data-trackid="<%= id %>" data-partner="712">Buy Track <%= price.formattedPrice %></button><br/>
                <a href="morelikethis.htm?releaseId=<%=release.id%>&releaseTitle=<%=release.artist.appearsAs%>%20<%=release.title%>">more like this</a>
				<div class="button-html">&lt;button class="sd-buybutton" data-trackid="<%= id %>" data-partner="712"&gt;Buy Track <%= price.formattedPrice %>&lt;/button&gt;</div>
            </div>
        </script>
        
    </body>
</html>
<script type="text/javascript" src="http://instant.7digital.com/scripts/dist/7d-buyitnow.min.js"></script>
<script type="text/javascript" src="./scripts/demo/blocky.js"></script>
<script type="text/javascript" src="./scripts/demo/search.js"></script>
<script type="text/javascript">
    
    var settings = {
        apiUrl: "http://api.7digital.com/1.2/track/search?oauth_consumer_key=YOUR_KEY_HERE&pagesize=50&imagesize=175&q=",
        displayElement: $("#sidebar"),
        templateElement: $("#tpl-track-list-item"),
        searchTextFieldElement: $("#searchquery"),
        defaultQuery: "great gig in the sky",
        searchResultItem: function (searchResult) {
            return searchResult.track;
        }
    };
    
    var searchDemo = new Search(settings).Setup().RunSearch("", 1);

    $(window).scroll(function () {
        if ($(window).scrollTop() + $(window).height() == $(document).height()) {
            searchDemo.LoadNext();
        }
    });
</script>
<script type="text/javascript" src="./scripts/demo/analytics.js"></script>